:root {
  --body-color: #083d77;
  --light: #f5fcfd;
  --body-accent: rgb(164, 8, 8);
  --past-color: var(--light);
  --present-color: #db454e;
  --future-color: #8d7fda;
  --radius: 8px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Figtree', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--body-color);
}
h1 {
  font-family: 'Bebas Neue', cursive;
  color: var(--body-accent);
}
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: var(--body-color);
  /* border-left: 1px solid black; */
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--body-color);
  border-radius: 0;
  border-bottom: 10px solid var(--body-color);
}
#currentDay {
  font-weight: bold;
}
.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: var(--radius);
}

.row {
  white-space: pre-wrap;
  min-height: 80px;
  border: 2px transparent var(--body-color);
  text-align: center;
  border-radius: var(--radius);
  margin: 5px;
  border-top: 1px dashed #000000;
  max-width: 100%;

}
.row > * {
  align-self: center;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea {
  background-color: inherit;
  color: inherit;
  border: transparent;
  height: auto;
}
::placeholder {
  text-align: left;
  padding: 5px 20px;
  color: inherit;
}

.hour {
  background-color: var(--light);
  color: var(--body-accent);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  /* border: inherit; */
  border-right: 1px dashed var(--body-color);
  /* height: 100%; */
  /* align-self: center; */
}

.past {
  background-color: var(--past-color);
  color: var(--body-color);
}

.present {
  background-color: var(--present-color);
  color: var(--light);
  font-weight: 600;
  /* font-size: 1.5rem; */
}

.future {
  background-color: var(--future-color);
  color: var(--light);
}

.saveBtn {
  /* border-left: 1px solid black; */
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-color: var(--body-color);
  background-color: var(--body-color);
  color: var(--light);
}
.saveBtn  {
  /* --fa-animation-duration: 1.5s; */
  transition: all .2s ease-in;
}
.saveBtn:hover {
  font-size: 25px;
  transition: all .2s ease-in;
}

